* {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button {
    display: flex;
    flex-direction: row;
}

.header {
    width: 1500 px;
}

.title {
    text-align: center;
}

.header-row td {
    font-weight: bold;
    font-size: 2rem !important;
}

.main-table td{
    border: 1px solid black;
}

